
  <div ng-controller="AppleboxSettingCtrl">
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-10">
        <h2>락커</h2>
        <ol class="breadcrumb">
          <li><a ui-sref="home">홈</a></li>
          <li><a>락커</a></li>
          <li class="active"><strong>락커 목록</strong></li>
        </ol>
      </div>
      <div class="col-lg-2"></div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">
      <div class="row">
        <div class="col-lg-12">
          <div class="ibox">
            <div class="ibox-title">
              <h5>락커 목록</h5>
              <div class="ibox-tools">
                <button
                  ng-click="editLocker({})"
                  class="btn btn-primary btn-sm"
                >
                  락커 등록
                </button>
              </div>
            </div>

            <div class="ibox-content">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>yid</th>
                      <th>라벨</th>
                      <th>열/행</th>
                      <th>점퍼/시리얼</th>
                      <th>상태</th>
                      <th>보내는 사람</th>
                      <th>받는 사람</th>
                      <th>인증번호</th>
                      <th>크기 (W×H)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in list">
                      <td>{{item.yid}}</td>
                      <td>
                        <span
                          ng-click="editLocker(item)"
                          style="cursor: pointer"
                        >{{item.label}}</span>
                      </td>
                      <td>({{item.col}}, {{item.row}})</td>
                      <td>({{item.jumper || '-'}}, {{item.serial || '-'}})</td>
                      <td>{{item.status || '-'}}</td>
                      <td>{{item.senderHp || '-'}}</td>
                      <td>{{item.receiverHp || '-'}}</td>
                      <td>{{item.authNum || '-'}}</td>
                      <td>{{item.width || '-'}} × {{item.height || '-'}}</td>
                    </tr>
                    <tr ng-show="list.length == 0">
                      <td colspan="9" align="center">데이터가 없습니다.</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <pagination
                    ng-change="pageChanged(currentPage)"
                    total-items="totalItems"
                    ng-model="currentPage"
                    next-text="다음"
                    previous-text="이전"
                    first-text="처음"
                    last-text="마지막"
                    max-size="maxSize"
                    items-per-page="display"
                    class="pagination-sm"
                    boundary-links="true"
                    rotate="false"
                    num-pages="numPages"
                  >
                  </pagination>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

